@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c-primary: #E2B25D; /* Cor principal */
    --c-secondary: #000042; /* Cor secundária */
    --c-primary-hover: #ffefd1; /* Cor ao passar o mouse */
    --c-room-available-status: #C2FFCD; /* Cor para status de quarto disponível */
    --c-occupied: #FF6666; /* Cor de alerta/perigo */
    --c-room-occupied-status: #FCD9D9; /* Cor para status de quarto ocupado */
    --c-availability: #35C035; /* Cor de disponibilidade */
}

input:focus { outline: none; }

#page-title {
    color: var(--c-secondary);
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1;
    margin: 1em;
}

main {
    padding: 1em;
}

main > section {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > .actions {
        display: flex;
        .search, .search > label {
            display: flex;
            align-items: center;
            background-color: #F6F6F7;
            border-radius: 4px;
            padding: 0.1em;
            gap: 0.2em;
            input {
                padding: 0.2em;
                border: none;
                background-color: transparent;
            }
            img {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

}


#roomGuest-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, min(100%, 15rem));
    gap: 1rem; 
    row-gap: 1em;
    column-gap: 1rem;
}

.roomGuest-item {
    /* max-width: 20rem; */
}

.roomGuest-item article {
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    > header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .status-wrapper {
            display: flex;
            gap: 1em;
            width: fit-content;
            align-items: center;
        }
        .menu-button {
            width: fit-content;
            background-color: transparent;
        }
    }

    .room-description {
        font-size: 0.9em;
    }

    .actions {
        width: 100%;
        display: flex;
        gap: 0.5em;
        .action {
            cursor: pointer;
            flex-grow: 1;
            padding: 0.5rem;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
        }

        .action.occupied {
            background-color: var(--c-occupied);
            a { color: #fff;}
        }
        .action.available {
            background-color: var(--c-availability);
            a { color: #fff;}
        }
    }

    .roomNumber-wrapper {
        padding: 1em 0;
        .room-number {
            font-size: 5rem;
            line-height: 0.7;
        }
        span {
            line-height: 0.7;
            /* font-family: monospace; */
            text-transform: uppercase;
            font-size: 0.7em;
        }
    }
    
}

.occupied {
    color: var(--c-occupied);
}

.available {
    color: var(--c-availability);
}

@media (max-width: 600px) {
    #roomGuest-list {
        grid-template-columns: 1fr;
    }

    .roomGuest-item article > header {
        gap: 0.5em;
    }
}


#modal-wrapper { 
    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0000005e;
    justify-content: center;
    align-items: center;

    &.opened {
        display: flex;
    }
}

.modal {
    display: none;
    &.opened {
        display: flex;
    }
}

#checkout-modal, .modal {
    display: none;
    gap: 1em;
    flex-direction: column;
    padding: 2em;
    width: min(50em, 100%);
    background-color: #FFF;
    border-radius: 5px;

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        .header-content {
            display: flex;
            gap: 1em;
            justify-content: center;
            align-items: baseline;
        }
        .modal-title {
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    .modal-content > form{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    input {
        width: 100%;
        min-width: 5em ;
        padding: 0.5em;
        border: 2px solid #66708575;
        border-radius: 6px;
        &:not([value=""]) {
        }
    }

    input[value]:not([value=""]) {
        background-color: #a4aab675;
    }
    
    label {
        color: #667085;
    }

    .form-group {
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1em;
        label {
            width: fit-content;
            min-width: 6em;
        }
    }

    .columns {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        > .column {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1em; 

            
        }
    }

    .date-fields {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        > .form-group {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            input {
                padding: 1.2em 1em;
            }

            > label {
                position: absolute;
                transform: translateY(-50%);
                margin-left: 0.5em;
                background-color: #FFF;
                font-size: small;
                padding: 0 0.3em;
                width: fit-content;
            }
        }


    }

    .actions {
        display: flex;
        gap: 1em;
        .action {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            padding: 1em;
            flex: 1;
            border-radius: 5px;

            .btn {
                background-color: transparent;
                color: #667085;
                font-weight: 700;
            }

            &.submit-action {
                background-color: var(--c-secondary);
                color: #fff;

                button { color: #fff;}
            }
        }
    }
}

