* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    
    background-color: #f2f0f0; /* Adicione uma cor de fundo se necessário */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f8f8f8;
}

.container {
    background: #fff;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.header p {
    color: #080850;
}

.header img {
    width: 20px;
    height: 20px;
}

.close {
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-row .form-group {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer button {
    width: 48%;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.footer .cancel {
    background-color: #f2f2f2;
    color: #333;
}

.footer .confirm {
    background-color: #0d0d5f;
    color: white;
}

.footer .confirm:hover {
    background-color: #080850;
}
