main {
    background-color: #F9F9F9;
}
.users-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.users-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.create-btn {
    background-color: #000066;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.create-btn a {
    color: #ffffff;
}
.search-container {
    margin: 10px 0px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.room-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room-image {
    width: 100%;
    border-radius: 8px;
}

.room-info h3 {
    font-size: 1.2rem;
    color: #333;
}

.room-info p {
    font-size: 0.9rem;
    color: #666;
}

.delete-button,
.edit-button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.delete-button {
    color: #858585;
}

.edit-button {
    color: #E2B25D;
}